*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    color: #111;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: inherit; /* This makes links take the color of their parent element */
    text-decoration: none; /* This removes the underline from links */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-weight: 600;
    background: #000;
    color: #fff;
}

/* === Site header ===*/

.site-header {
    background: #fff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
}

.main-nav ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

/* === Hero section ===*/

.hero {
    background: #f6f6f6;
    padding: 6rem 0;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

@media (max-width: 900px) {
    .hero-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .main-nav ul {
        display: none; /* do this later*/
    }
}